<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/media/css/template.css">
</head>
<body>
<header>

</header>

<form id="add">
    <input type="text " name="name" id="name">
    <input type="text " name="description" id="desk">
    <button id="btn">add</button>
</form>

<footer>
    <div class="container">
        <h2>&copy; FD SPRING 2017</h2>
    </div>
</footer>

<script>


    var Ajax = {
        get: function (url, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            xhr.send();
        },
        post: function (url, postparams, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            var data = new FormData();
            for (var prop in postparams) {
                data.append(prop, postparams[prop]);
            }
            xhr.send(data);
        }
    };

    Ajax.post("http://localhost/add",(res)=>{

    })




</script>
</body>
</html>