<h3>add new note</h3>
<form>
    <input type="text " name="n" id="name" required>
    <input type="text " name="d" id="desk" required>
    <button id="btn">add</button>
</form>
<hr>
<button id="getAll">getNotes</button>
<div class="notes">

</div>


<script>

    var btn = document.querySelector("#btn");
    var im = document.querySelector("#name");
    var desk = document.querySelector("#desk");
    var getAll = document.querySelector("#getAll");
    var notes = document.querySelector(".notes");
    var users = [];


    var Ajax = {
        get: function (url, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            xhr.send();
        },
        post: function (url, postparams, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            var data = new FormData();
            for (var prop in postparams) {
                data.append(prop, postparams[prop]);
            }
            xhr.send(data);
        }
    };

    btn.addEventListener("click", function (e) {

        e.preventDefault();

        Ajax.post("http://localhost/add", {name: im.value, description: desk.value}, function (res) {

                im.value = "";
                desk.value = "";
            }
        );
        getAllNotes()

    });

    getAll.addEventListener("click", () => {
        getAllNotes()
    });


    function getAllNotes() {
        fetch("http://localhost/getAll")
            .then(res => res.json())
            .then(data => {
                console.log(data);
                notes.innerHTML="";
                data.forEach(function (post) {
                    notes.innerHTML += `
                        <div>
                             <p>${post.id}</p>
                             <p>${post.name}</p>
                             <p>${post.description}</p>
                        </div>
                    `;
                })
            })


    }


    window.addEventListener("load", function () {
        getAllNotes()
    })


</script>