<style>
    .notes {
        background: rgba(0, 137, 123, 0.33);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .notes div {
        width: 200px;
        background: red;
        margin: 5px;

    }

    .notes div * {
        width: 100%;
        display: block;
    }
    .postname{
        cursor: pointer;
    }
</style>
<h3>add new note</h3>
<form>
    <input type="text " name="n" id="name" required>
    <input type="text " name="d" id="desk" required>
    <button id="btn">add</button>
</form>
<hr>
<button id="getAll">getNotes</button>
<div class="notes">

</div>
<div class="ds">

</div>




<script>

    var btn = document.querySelector("#btn");
    var im = document.querySelector("#name");
    var desk = document.querySelector("#desk");
    var getAll = document.querySelector("#getAll");
    var notes = document.querySelector(".notes");
    var ds = document.querySelector(".ds");


    var Ajax = {
        get: function (url, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            xhr.send();
        },
        post: function (url, postparams, onresponse) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                onresponse(xhr.response, xhr.status, xhr.statusText);
            };
            var data = new FormData();
            for (var prop in postparams) {
                data.append(prop, postparams[prop]);
            }
            xhr.send(data);
        }
    };

    btn.addEventListener("click", function (e) {

        e.preventDefault();

        Ajax.post("http://localhost/add", {name: im.value, description: desk.value}, function (res) {

                im.value = "";
                desk.value = "";
            }
        );
        getAllNotes()

    });

    getAll.addEventListener("click", () => {
        getAllNotes()
    });


    function getAllNotes() {
        // <p>${post.description}</p>
        notes.innerHTML = "";
        fetch("http://localhost/getAll")
            .then(res => res.json())
            .then(data => {
                data.forEach(function (post) {
                    notes.innerHTML += `
                        <div class="nt">
                             <p>${post.id}</p>
                             <p class="postname" data-id="${post.id}" >name:${post.name}</p>

                             <button data-id="${post.id}" >del</button>

                        </div>
                    `;
                })
            })


    }

    notes.addEventListener("click", function (e) {
        if (e.target.matches(".nt button")) {

            Ajax.post("http://localhost/remove/{id}", {id: e.target.dataset.id}, function (res) {
                getAllNotes();

                }
            );
        }

        if (e.target.matches(".nt .postname")){
            ds.innerText="";
            fetch("http://localhost/get/"+e.target.dataset.id, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, application/xml, text/plain, text/html, *.*',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
                },
                body:new FormData({id: e.target.dataset.id})

            }).then(res => res.json()).then(data=>{
                ds.innerText=data.description
            })


        }



    });



    window.addEventListener("load", function () {
        getAllNotes()
    })


</script>