<link rel="stylesheet" href="/media/css/register.css">
<div class="form">
    <form action="/regaction" method="post" enctype="multipart/form-data">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <dl>
            <dt><label for="login">Login :</label></dt>
            <dd><input type="text" name="login" id="login" value="{{ old.login ? old.login : "" }}"></dd>
            <dt><label for="pass">Password :</label></dt>
            <dd><input type="password" name="pass" id="pass"></dd>
            <dt><label for="conf">Confirm :</label></dt>
            <dd><input type="password" name="conf" id="conf"></dd>
            <dt><label for="mail">Email :</label></dt>
            <dd><input type="email" name="mail" id="mail" value="{{ old.mail ? old.mail : "" }}"></dd>
            <dt><label for="phone">Phone :</label></dt>
            <dd><input type="tel" name="phone" id="phone" value="{{ old.phone ? old.phone : "" }}"></dd>
            <dt><label for="photo">Photo:</label></dt>
            <dd><input type="file" name="photo" id="conf" accept=".png, .jpg, .jpeg"></dd>
            <dt><input type="submit" value="register"></dt>
        </dl>
    </form>
</div>